@model IEnumerable<LocationMotos_ASP.Net_MVC.Models.Client>

@{
    ViewBag.Title = "Clients";
}

<h2>Table Clients</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NumeroTel)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Adresse)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroTel)
            </td>
            <td class="btn alert-info">
                @Html.ActionLink("Edit", "Edit", new { id = item.IDClient })
            </td>
            <td class="btn alert-danger">
                @Html.ActionLink("Delete", "Delete", new { id = item.IDClient })
            </td>
        </tr>
    }

</table>

<h5>Veuillez ajouter un client : </h5>
<button class="btn alert-success">
    @Html.ActionLink("Ajouter", "Create")
</button>