@model IEnumerable<LocationMotos_ASP.Net_MVC.Models.Marque>

@{
    ViewBag.Title = "Marques";
}

<h2>Table Marques</h2>


<table class="table active">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MarqueM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MarqueM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td class="btn alert-info">
                @Html.ActionLink("Edit", "Edit", new { id = item.IDMarque }) 
            </td>
            <td class="btn alert-danger">
                @Html.ActionLink("Delete", "Delete", new { id = item.IDMarque })
            </td>
        </tr>
    }

</table>

<h5>Veuillez ajouter une marque de moto : </h5>
<button class="btn alert-success">
    @Html.ActionLink("Ajouter", "Create")
</button>