@model IEnumerable<LocationMotos_ASP.Net_MVC.ViewModels.LocDuJourViewModels>

@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <img style="position: center; margin-left: 40%; background-size:80%;" src="~/Ressources/universal_motors.png" />
        <h1>Bienvenue @User.Identity.GetUserName()</h1>
    </div>

    <h2>Liste des locations du jour</h2>


    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.locInfo.IDLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientInfo.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientInfo.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locInfo.Date_debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.locInfo.Date_fin)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.locInfo.IDLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientInfo.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientInfo.Prenom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locInfo.Date_debut)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.locInfo.Date_fin)
                </td>
            </tr>
        }

    </table>




}