@model IEnumerable<LocationMotos_ASP.Net_MVC.ViewModels.AfficheMotoViewModels>
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2 style="text-align:center">Bienvenue chez Universal Riders Rent</h2>
    <p style="text-align:center" class="lead">Veuillez vous connecter ou créer un compte pour louer une moto.</p>
</div>

<h2>Liste de nos motos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.marqueInfo.IDMarque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motoInfo.IDMoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marqueInfo.MarqueM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.marqueInfo.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motoInfo.Carburant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motoInfo.Kilometrage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.motoInfo.Disponible)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.marqueInfo.IDMarque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motoInfo.IDMoto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marqueInfo.MarqueM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.marqueInfo.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motoInfo.Carburant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motoInfo.Kilometrage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.motoInfo.Disponible)
            </td>
        </tr>
    }

</table>



<div class="row">
    <div class="col-md-4">
        <h4>Recherche sur la table moto</h4>

        <button class="btn-toolbar"> @Html.ActionLink("Recherche sur la table", "ChercheMoto", "Home") </button>
    </div>
</div>