@model LocationMotos_ASP.Net_MVC.Models.Location

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Location</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Client.Nom)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Moto.Carburant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Moto.Carburant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FraisDeLocation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FraisDeLocation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_debut)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_debut)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date_fin)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn alert-danger" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
