@model IEnumerable<LocationMotos_ASP.Net_MVC.Models.Location>

@{
    ViewBag.Title = "Locations";
}

<h2>Table Locations</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Client.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moto.IDMoto)
        </th>
        <td>
            @Html.DisplayNameFor(model => model.Moto.Kilometrage)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.FraisDeLocation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_debut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_fin)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Client.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moto.IDMoto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moto.Kilometrage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FraisDeLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_debut)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_fin)
        </td>
        <td class="btn alert-info">
            @Html.ActionLink("Edit", "Edit", new { id=item.IDLocation }) 

        </td>
        <td class="btn alert-danger">

            @Html.ActionLink("Delete", "Delete", new { id=item.IDLocation })
        </td>
    </tr>
}

</table>
<h5>Veuillez ajouter une location : </h5>
<button class="btn alert-success">
    @Html.ActionLink("Ajouter", "Create")
</button>