@model IEnumerable<LocationMotos_ASP.Net_MVC.Models.Moto>

@{
    ViewBag.Title = "Motos";
}

<h2>Table Motos</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Marque.MarqueM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carburant)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometrage)
        </th>
        <th style="text-align:center;">
            @Html.DisplayNameFor(model => model.Disponible)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Marque.MarqueM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Carburant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometrage)
            </td>
                @if (item.Disponible == "oui")
                {
                      <td style="background-color:green; color:white; text-align:center;">@Html.DisplayFor(modelItem => item.Disponible)</td>
                }
                else
                {
                      <td style="background-color:darkred; color:white; text-align:center;">@Html.DisplayFor(modelItem => item.Disponible)</td>
                }
            <td class="btn alert-info">
                @Html.ActionLink("Edit", "Edit", new { id = item.IDMoto }) 
            </td>
            <td  class="btn alert-danger">
                @Html.ActionLink("Delete", "Delete", new { id = item.IDMoto })
            </td>
        </tr>
    }

</table>

<h5>Veuillez ajouter une moto : </h5>
<button class="btn alert-success"> 
    @Html.ActionLink("Ajouter", "Create")
</button>